# Airtable
AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_LEADS_TABLE_ID=
AIRTABLE_CALLS_TABLE_ID=
AIRTABLE_BLASTS_TABLE_ID=
AIRTABLE_ARTISTS_TABLE_ID=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Auth
PORTAL_PASSWORD=
NEXTAUTH_SECRET=
